nav>ul>li>ul {
  display: none;
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
  width: 200px;
}


ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}

ul li a:hover { background: #2c3e50; }
